/poplaroot-communication-example/poplaroot-communication-example-service1/target/
/poplaroot-communication-example/poplaroot-communication-example-service2/target/
/poplaroot-communication-example/poplaroot-communication-example-service-spring1/target/
/poplaroot-communication-example/poplaroot-communication-example-service-spring2/target/
